<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> User</legend>

    <div class="control-group">
      <%= f.label :GroupID, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :GroupID, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :Login, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :Login, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :Name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :Name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :Password, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :Password, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :EMail, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :EMail, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :Active, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :Active, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :NativeLanguageID, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :NativeLanguageID, :class => 'number_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
