<h1>Active Productions</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Deadline</th>
      <th>Title</th>
      <th>Client</th>
      <th>Effort</th>
      <th>Workflow</th>
    </tr>
  </thead>
  <tbody>
    <% @active_productions.each do |active_production| %>
      <tr>
        <td><%= deadline(active_production.deadline) %></td>
        <td><%= link_to active_production.title, "http://10.1.1.246/production/production.php?action=load&ProductionID=#{active_production.production_id}" %></td>
        <td><%= active_production.client.try(:name) %></td>
        <td><%= calculate_effort(active_production.time_logs) %></td>
        <td><%= workflow(active_production.tasks) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @active_productions %>
