<h1>Client</h1>

<p>
  <b>Customerid</b><br>
  <%= @client.CustomerID %>
</p>

<p>
  <b>Name</b><br>
  <%= @client.Name %>
</p>

<p>
  <b>Anschrift</b><br>
  <%= @client.Anschrift %>
</p>

<p>
  <b>Strasse</b><br>
  <%= @client.Strasse %>
</p>

<p>
  <b>Plz</b><br>
  <%= @client.PLZ %>
</p>

<p>
  <b>Ort</b><br>
  <%= @client.Ort %>
</p>

<p>
  <b>Land</b><br>
  <%= @client.Land %>
</p>

<p>
  <b>Telefon</b><br>
  <%= @client.Telefon %>
</p>

<p>
  <b>Fax</b><br>
  <%= @client.Fax %>
</p>

<p>
  <b>Email</b><br>
  <%= @client.EMail %>
</p>

<p>
  <b>Website</b><br>
  <%= @client.Website %>
</p>

<p>
  <b>Ansprechpartner</b><br>
  <%= @client.Ansprechpartner %>
</p>

<p>
  <b>Kommentar</b><br>
  <%= @client.Kommentar %>
</p>

<p>
  <b>Active</b><br>
  <%= @client.Active %>
</p>

<p>
  <b>Lastchanged</b><br>
  <%= @client.LastChanged %>
</p>

<div class="form-actions">
  <%= link_to 'Back', clients_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_client_path(@client), :class => 'btn' %>
  <%= link_to 'Delete', client_path(@client), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
