<%= form_for @productionstatus, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Productionstatus</legend>

    <div class="control-group">
      <%= f.label :Name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :Name, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', productionstatuses_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
