<h1>Trackings</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Duration</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @trackings.each do |tracking| %>
      <tr>
        <td><%= tracking.id %></td>
        <td><%= link_to tracking.try(:run_length), tracking_path(tracking) %></td>
        <td>
          <%= link_to 'Edit', edit_tracking_path(tracking), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', tracking_path(tracking), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_tracking_path, :class => 'btn btn-primary' %>
